.root {
  display: flex;
  flex-direction: column;
  width: 22vw;
  height: 22vw;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  max-width: 22vw;
  transition-property: all;
  transition-duration: 1s;
  cursor: pointer;
  justify-self: flex-start;
  position: relative;
  max-height: 22vw;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
  border-radius: 16px;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    width: 80vw;
    height: 80vw;
    max-height: 400px;
  }
}
.img {
  object-fit: cover;
  transition-property: all;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) translateZ(0px);
  width: 22vw;
  height: 22vw;
  flex-shrink: 0;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.5s;
  border-radius: 18px;
}
.img > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img {
    width: 80vw;
    height: 80vw;
    flex-shrink: 0;
  }
}
.root:hover .img {
  transform: scaleX(1.2) scaleY(1.2) scaleZ(1.2);
  transform-style: preserve-3d;
}
.root:hover .img * {
  transform-style: preserve-3d;
}
.freeBox {
  display: flex;
  position: absolute;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: auto;
  height: auto;
  left: 0;
  top: auto;
  background: #ffffff;
  max-width: 100%;
  bottom: 0;
  right: 0;
  border-radius: 10px;
  padding: 12px 24px;
}
.text {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 20px;
  transition-property: all;
  transition-duration: 0.5s;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.5s;
}
.root:hover .text {
  color: var(--token-BDhV6t22HyFr);
}
.button:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  color: var(--token-iJ3KpYTSoAbO);
  background: #ffffff00;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition-property: all;
  transition-duration: 0.5s;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.5s;
  padding: 5px;
  border: 1px solid var(--token-iJ3KpYTSoAbO);
}
.root:hover .button:global(.__wab_instance) {
  background: #ffffff00;
  border-color: var(--token-BDhV6t22HyFr);
}
.svg {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
  transition-property: all;
  transition-duration: 0.5s;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.5s;
}
.root:hover .svg {
  transform: rotateX(0deg) rotateY(0deg) rotateZ(-45deg);
  color: var(--token-BDhV6t22HyFr);
}
