.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.header {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.header > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .header > * {
    grid-column: 4;
  }
}
.headerWapper {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .headerWapper {
    justify-content: space-between;
    align-items: center;
    padding: 16px 16px 10px 0px;
  }
}
.leftContainer {
  display: flex;
  position: relative;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.leftContainer > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - var(--token-Kzvu_5ZcCKzb));
  width: calc(100% + var(--token-Kzvu_5ZcCKzb));
}
.leftContainer > :global(.__wab_flex-container) > *,
.leftContainer > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.leftContainer > :global(.__wab_flex-container) > picture > img,
.leftContainer
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-Kzvu_5ZcCKzb);
}
@media (min-width: 0px) and (max-width: 768px) {
  .leftContainer {
    margin-bottom: 0px;
    height: 67px;
  }
}
.weddingVowsLogo {
  object-fit: contain;
  width: auto;
  height: 1.5rem;
  margin-bottom: 0px;
  cursor: pointer;
  transition-property: all;
  transition-duration: 1s;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
}
.weddingVowsLogo > picture > img {
  object-fit: contain;
}
@media (min-width: 0px) and (max-width: 768px) {
  .weddingVowsLogo {
    width: 100%;
    max-width: 285px;
    min-width: 0;
  }
}
.navMenuItem:global(.__wab_instance) {
  max-width: 100%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .navMenuItem:global(.__wab_instance) {
    display: none;
  }
}
.mobileMenu:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .mobileMenu:global(.__wab_instance):global(.__wab_instance) {
    height: 16px;
    display: flex;
  }
}
.buttonContainer2:global(.__wab_instance) {
  max-width: 100%;
}
.button__liHQm:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .button__liHQm:global(.__wab_instance) {
    height: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.svg__cws4Z {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  color: var(--token-S546Fo-cOsnZ);
  min-width: 0;
  height: 1em;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__cws4Z {
    display: block;
  }
}
.freeBox__qbvi9 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__qbvi9 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__qbvi9 > :global(.__wab_flex-container) > *,
.freeBox__qbvi9 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__qbvi9 > :global(.__wab_flex-container) > picture > img,
.freeBox__qbvi9
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__vt1Lm {
  width: auto;
  height: auto;
  max-width: 100%;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: var(--token-iJ3KpYTSoAbO);
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.freeBox__wmI5Q {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.navMenuItem___4Cppp:global(.__wab_instance) {
  max-width: 100%;
}
.body {
  display: grid;
  position: relative;
  align-content: center;
  justify-items: center;
  padding-left: 0;
  padding-right: 0;
  min-width: 100%;
  height: 100%;
  left: auto;
  top: auto;
  width: 100%;
  margin-top: 0px;
  background: var(--token-exOI4YDfUOQj);
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.body > * {
  grid-column: 4;
}
.footer {
  display: grid;
  position: relative;
  align-content: flex-end;
  justify-items: center;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  left: auto;
  z-index: 1;
  bottom: auto;
  align-self: auto;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.footer > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .footer {
    left: auto;
    bottom: auto;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .footer > * {
    grid-column: 4;
  }
}
.footerContainer {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-S546Fo-cOsnZ);
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 48px;
}
.footerContainer > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.footerContainer > :global(.__wab_flex-container) > *,
.footerContainer > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.footerContainer > :global(.__wab_flex-container) > picture > img,
.footerContainer
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.footerContent {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 0px;
}
.footerContent > :global(.__wab_flex-container) {
  align-items: stretch;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
  --plsmc-rc-col-gap: 24px;
}
.footerContent > :global(.__wab_flex-container) > *,
.footerContent > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.footerContent > :global(.__wab_flex-container) > picture > img,
.footerContent
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
.footerContent > :global(.__wab_flex-container) > :nth-child(6n + 1) {
  width: calc((100% - 6 * var(--plsmc-rc-col-gap, 0px)) * 5 / 12);
}
.footerContent > :global(.__wab_flex-container) > :nth-child(6n + 2) {
  width: calc((100% - 6 * var(--plsmc-rc-col-gap, 0px)) * 1 / 12);
}
.footerContent > :global(.__wab_flex-container) > :nth-child(6n + 3) {
  width: calc((100% - 6 * var(--plsmc-rc-col-gap, 0px)) * 2 / 12);
}
.footerContent > :global(.__wab_flex-container) > :nth-child(6n + 4) {
  width: calc((100% - 6 * var(--plsmc-rc-col-gap, 0px)) * 1 / 12);
}
.footerContent > :global(.__wab_flex-container) > :nth-child(6n + 5) {
  width: calc((100% - 6 * var(--plsmc-rc-col-gap, 0px)) * 1 / 12);
}
.footerContent > :global(.__wab_flex-container) > :nth-child(6n + 6) {
  width: calc((100% - 6 * var(--plsmc-rc-col-gap, 0px)) * 2 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .footerContent {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .footerContent > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-left: calc(0px - 40px);
    width: calc(100% + 40px);
    --plsmc-rc-col-gap: 40px;
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .footerContent > :global(.__wab_flex-container) > *,
  .footerContent > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .footerContent > :global(.__wab_flex-container) > picture > img,
  .footerContent
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 40px;
    margin-top: 24px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .footerContent > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column01 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.column01 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.column01 > :global(.__wab_flex-container) > *,
.column01 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column01 > :global(.__wab_flex-container) > picture > img,
.column01
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column01 > :global(.__wab_flex-container) {
    align-items: center;
  }
}
.head {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.head > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.head > :global(.__wab_flex-container) > *,
.head > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.head > :global(.__wab_flex-container) > picture > img,
.head > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .head > :global(.__wab_flex-container) {
    align-items: center;
    justify-content: center;
  }
}
.img {
  object-fit: cover;
  max-width: 100%;
  width: auto;
  height: 24px;
  flex-shrink: 0;
}
.img > picture > img {
  object-fit: cover;
}
.text___7Eo7Q {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Inter", sans-serif;
  font-size: 13px;
  font-weight: 300;
  font-style: normal;
  color: var(--token-iJ3KpYTSoAbO);
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___7Eo7Q {
    text-align: center;
  }
}
.linkItems2 {
  display: flex;
  position: relative;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.linkItems2 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.linkItems2 > :global(.__wab_flex-container) > *,
.linkItems2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.linkItems2 > :global(.__wab_flex-container) > picture > img,
.linkItems2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.link__bu9Q {
  position: relative;
  display: flex;
  color: var(--token-iJ3KpYTSoAbO);
}
.svg___8FLsr {
  object-fit: cover;
  max-width: 100%;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}
.link__fYuAc {
  position: relative;
  display: flex;
  color: var(--token-iJ3KpYTSoAbO);
}
.svg__kJKsO {
  object-fit: cover;
  max-width: 100%;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}
.link__zpyDa {
  position: relative;
  display: flex;
  color: var(--token-iJ3KpYTSoAbO);
}
.svg___7FJhs {
  object-fit: cover;
  max-width: 100%;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}
.link__mztKa {
  position: relative;
  display: flex;
  color: var(--token-iJ3KpYTSoAbO);
}
.svg___0Sz6O {
  object-fit: cover;
  max-width: 100%;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}
.newsletterMagazineSubscriptions {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.newsletterMagazineSubscriptions > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.newsletterMagazineSubscriptions > :global(.__wab_flex-container) > *,
.newsletterMagazineSubscriptions
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.newsletterMagazineSubscriptions
  > :global(.__wab_flex-container)
  > picture
  > img,
.newsletterMagazineSubscriptions
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
.h4__blVwH {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Inter", sans-serif;
  font-size: 13px;
  font-weight: 300;
  font-style: normal;
  color: #000000;
  text-align: left;
  text-transform: none;
  line-height: 1.3;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h4__blVwH {
    text-align: center;
  }
}
.emailAddress {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  max-width: 100%;
  height: 50px;
  background: var(--token-exOI4YDfUOQj);
  min-width: 0;
  flex-shrink: 0;
  border-radius: 8px;
  padding: 0px;
}
.emailAddress > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 6px);
  width: calc(100% + 6px);
}
.emailAddress > :global(.__wab_flex-container) > *,
.emailAddress > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.emailAddress > :global(.__wab_flex-container) > picture > img,
.emailAddress
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 6px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .emailAddress > :global(.__wab_flex-container) {
    justify-content: center;
    align-items: center;
  }
}
.input:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.button___6PtJ7:global(.__wab_instance) {
  object-fit: cover;
  position: relative;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  border: 1px solid var(--token-4bux-gJqbF0H);
}
.svg___28WKu {
  object-fit: cover;
  max-width: 100%;
  width: 15px;
  height: 30px;
  color: var(--token-4bux-gJqbF0H);
}
.sitemap {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.sitemap > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.sitemap > :global(.__wab_flex-container) > *,
.sitemap > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.sitemap > :global(.__wab_flex-container) > picture > img,
.sitemap
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .sitemap > :global(.__wab_flex-container) {
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 12px);
    height: calc(100% + 12px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .sitemap > :global(.__wab_flex-container) > *,
  .sitemap > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .sitemap > :global(.__wab_flex-container) > picture > img,
  .sitemap
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 12px;
  }
}
.h4___5W5Vq {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  font-weight: 500;
  font-family: "Inter", sans-serif;
  font-style: normal;
  color: #000000;
  text-align: left;
  text-transform: none;
  line-height: 1.3;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h4___5W5Vq {
    text-align: center;
  }
}
.linkItems {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.linkItems > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.linkItems > :global(.__wab_flex-container) > *,
.linkItems > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.linkItems > :global(.__wab_flex-container) > picture > img,
.linkItems
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .linkItems > :global(.__wab_flex-container) {
    align-items: center;
    justify-content: center;
  }
}
.link__aklaw {
  position: relative;
  color: #666666;
  font-size: 14px;
  text-decoration-line: underline;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-overflow: clip;
}
.link__zKvsB {
  position: relative;
  color: #666666;
  font-size: 14px;
  text-decoration-line: underline;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-overflow: clip;
}
.link__khWO {
  position: relative;
  color: #666666;
  font-size: 14px;
  text-decoration-line: underline;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-overflow: clip;
}
.link__fzXIk {
  position: relative;
  color: #666666;
  font-size: 14px;
  text-decoration-line: underline;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-overflow: clip;
}
.link__ilqqo {
  position: relative;
  color: #666666;
  font-size: 14px;
  text-decoration-line: underline;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-overflow: clip;
}
.venues {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.venues > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.venues > :global(.__wab_flex-container) > *,
.venues > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.venues > :global(.__wab_flex-container) > picture > img,
.venues
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .venues > :global(.__wab_flex-container) {
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 12px);
    height: calc(100% + 12px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .venues > :global(.__wab_flex-container) > *,
  .venues > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .venues > :global(.__wab_flex-container) > picture > img,
  .venues
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 12px;
  }
}
.h4__ysplT {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  font-weight: 500;
  font-family: "Inter", sans-serif;
  font-style: normal;
  color: #000000;
  text-align: left;
  text-transform: none;
  line-height: 1.3;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h4__ysplT {
    text-align: center;
  }
}
.linkItems4 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.linkItems4 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.linkItems4 > :global(.__wab_flex-container) > *,
.linkItems4 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.linkItems4 > :global(.__wab_flex-container) > picture > img,
.linkItems4
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .linkItems4 > :global(.__wab_flex-container) {
    align-items: center;
    justify-content: center;
  }
}
.link__nl8Jx {
  position: relative;
  color: #666666;
  font-size: 14px;
  text-decoration-line: underline;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-overflow: clip;
}
.vendors2 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.vendors2 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.vendors2 > :global(.__wab_flex-container) > *,
.vendors2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.vendors2 > :global(.__wab_flex-container) > picture > img,
.vendors2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .vendors2 > :global(.__wab_flex-container) {
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 12px);
    height: calc(100% + 12px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .vendors2 > :global(.__wab_flex-container) > *,
  .vendors2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .vendors2 > :global(.__wab_flex-container) > picture > img,
  .vendors2
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 12px;
  }
}
.h4__k8OIr {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  font-weight: 500;
  font-family: "Inter", sans-serif;
  font-style: normal;
  color: #000000;
  text-align: left;
  text-transform: none;
  line-height: 1.3;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h4__k8OIr {
    text-align: center;
  }
}
.linkItems6 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.linkItems6 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.linkItems6 > :global(.__wab_flex-container) > *,
.linkItems6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.linkItems6 > :global(.__wab_flex-container) > picture > img,
.linkItems6
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .linkItems6 > :global(.__wab_flex-container) {
    align-items: center;
    justify-content: center;
  }
}
.link__qhAtg {
  position: relative;
  color: #666666;
  font-size: 14px;
  text-decoration-line: underline;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-overflow: clip;
}
.cities {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.cities > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.cities > :global(.__wab_flex-container) > *,
.cities > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.cities > :global(.__wab_flex-container) > picture > img,
.cities
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .cities > :global(.__wab_flex-container) {
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 12px);
    height: calc(100% + 12px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .cities > :global(.__wab_flex-container) > *,
  .cities > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .cities > :global(.__wab_flex-container) > picture > img,
  .cities
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 12px;
  }
}
.h4__qydaD {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  font-weight: 500;
  font-family: "Inter", sans-serif;
  font-style: normal;
  color: #000000;
  text-align: left;
  text-transform: none;
  line-height: 1.3;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h4__qydaD {
    text-align: center;
  }
}
.linkItems5 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.linkItems5 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.linkItems5 > :global(.__wab_flex-container) > *,
.linkItems5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.linkItems5 > :global(.__wab_flex-container) > picture > img,
.linkItems5
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .linkItems5 > :global(.__wab_flex-container) {
    align-items: center;
    justify-content: center;
  }
}
.link___5TJMz {
  position: relative;
  color: #666666;
  font-size: 14px;
  text-decoration-line: underline;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-overflow: clip;
}
.contactUs {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.contactUs > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.contactUs > :global(.__wab_flex-container) > *,
.contactUs > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.contactUs > :global(.__wab_flex-container) > picture > img,
.contactUs
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .contactUs > :global(.__wab_flex-container) {
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 12px);
    height: calc(100% + 12px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .contactUs > :global(.__wab_flex-container) > *,
  .contactUs > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .contactUs > :global(.__wab_flex-container) > picture > img,
  .contactUs
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 12px;
  }
}
.h4__aIul5 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  font-weight: 500;
  font-family: "Inter", sans-serif;
  font-style: normal;
  color: #000000;
  text-align: left;
  text-transform: none;
  line-height: 1.3;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h4__aIul5 {
    text-align: center;
  }
}
.forVendors {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .forVendors {
    align-items: center;
    justify-content: center;
  }
}
.link__v7IbN {
  position: relative;
  color: #666666;
  font-size: 14px;
  text-decoration-line: underline;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-overflow: clip;
}
.forUsers {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .forUsers {
    align-items: center;
    justify-content: flex-start;
  }
}
.link__fa7Ov {
  position: relative;
  color: #666666;
  font-size: 14px;
  text-decoration-line: underline;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-overflow: clip;
}
.footerContainer2 {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #737373;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 20px 48px;
}
.footerContainer2 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.footerContainer2 > :global(.__wab_flex-container) > *,
.footerContainer2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.footerContainer2 > :global(.__wab_flex-container) > picture > img,
.footerContainer2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .footerContainer2 {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .footerContainer2 > :global(.__wab_flex-container) {
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 20px);
    height: calc(100% + 20px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .footerContainer2 > :global(.__wab_flex-container) > *,
  .footerContainer2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .footerContainer2 > :global(.__wab_flex-container) > picture > img,
  .footerContainer2
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 20px;
  }
}
.text__pE6N {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-S546Fo-cOsnZ);
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__pE6N {
    text-align: center;
  }
}
.freeBox___2QnDl {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox___2QnDl > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-end;
  min-width: 0;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
}
.freeBox___2QnDl > :global(.__wab_flex-container) > *,
.freeBox___2QnDl > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___2QnDl > :global(.__wab_flex-container) > picture > img,
.freeBox___2QnDl
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___2QnDl {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___2QnDl > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 12px);
    height: calc(100% + 12px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___2QnDl > :global(.__wab_flex-container) > *,
  .freeBox___2QnDl > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___2QnDl > :global(.__wab_flex-container) > picture > img,
  .freeBox___2QnDl
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 12px;
  }
}
.link__zv9SM {
  position: relative;
  color: var(--token-S546Fo-cOsnZ);
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.link__ibTq2 {
  position: relative;
  color: var(--token-S546Fo-cOsnZ);
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.link__xX0S6 {
  position: relative;
  color: var(--token-S546Fo-cOsnZ);
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
